<div *ngIf="cancion" class="container-detalle uk-margin-medium-right">
  <h2 class="uk-margin-small-left">Canción seleccionada:</h2>
  <div class="uk-card uk-card-secondary uk-width-* uk-margin-small-left">
    <div class="uk-card-header">
      <h2 class="uk-card-title">{{ cancion.title }}</h2>
    </div>
    <div class="uk-card-body">
      <div class="uk-flex uk-flex-around">
        <div class="uk-width-1-2">
          <img src="{{ cancion.src }}" alt="portada" class="portada" />
        </div>
        <div class="uk-width-1-2">
          <h4 class="uk-margin-small-top">
            Autor: <span class="data">{{ cancion.author }}</span>
          </h4>
          <h4 class="uk-margin-small-top">
            Año: <span class="data">{{ cancion.year }}</span>
          </h4>
          <h4 class="uk-margin-small-top">
            Album: <span class="data">{{ cancion.album }}</span>
          </h4>
          <h4 class="uk-margin-small-top">
            Estilo: <span class="data">{{ cancion.style }}</span>
          </h4>
        </div>
      </div>
    </div>
    <div class="uk-card-footer">Aquí va el reproductor</div>
  </div>
</div>
