h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h4 {
  color: #9c9c9c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.data {
  color: #e5e5e5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.portada {
  width: 196px;
  height: 196px;
}

.texto-album{
  overflow-wrap: break-word;
  word-break: break-all;
}
