<div class="container-song">
  <h2>Esta es la música que podrás disfrutar:</h2>
  <ul class="canciones">
    <li *ngFor="let cancion of canciones" (click)="showDetail(cancion)">
      <span class="titulo">{{cancion.title}}</span> <span class="data">  ({{cancion.author}})</span>
    </li>
  </ul>
</div>
<div *ngIf="cancionSeleccionada" class="container-detail">
    <hr>
    <h2>Datos sobre la canción</h2>
    <h2>{{ cancionSeleccionada.title }}</h2>
    <img src="{{ cancionSeleccionada.src }}" alt="portada" class="portada" />
    <h3>Autor:  <span class="data">{{ cancionSeleccionada.author }}</span></h3>
    <h3>Año:  <span class="data">{{ cancionSeleccionada.year }}</span></h3>
    <h3>Album:  <span class="data">{{ cancionSeleccionada.album }}</span></h3>
    <h3>Estilo:  <span class="data">{{ cancionSeleccionada.style }}</span></h3>
</div>