<div class="container-song uk-flex uk-flex-wrap uk-flex-between uk-padding-remove">
  <div>
    <h3 class="uk-margin-medium-left mat-h3">Buscador de música:</h3>
    <mat-form-field class="uk-margin-medium-left uk-width-* busqueda">
      <input id="buscador" matInput type="search" name="filterSong" class="uk-width-* uk-margin-medium-left"
        [(ngModel)]="filterSong" />
      <mat-placeholder class="placeholder">buscar...</mat-placeholder>
    </mat-form-field>
    <table class="uk-table uk-table-small uk-table-striped uk-width-*  uk-margin-medium-left">
      <mat-list>
        <thead>
          <th>
            <mat-list-item>Título</mat-list-item>
          </th>
          <th>
            <mat-list-item>Autor</mat-list-item>
          </th>
          <th>
            <mat-list-item>Álbum</mat-list-item>
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of canciones | filter: filterSong">
            <td class="titulo uk-padding-remove">
              <mat-list-item><a routerLink="/detalle/{{cancion.id}}">{{ cancion.title }}</a></mat-list-item>
            </td>
            <td class=" data uk-padding-remove">
              <mat-list-item><a routerLink="/detalle/{{cancion.id}}">{{ cancion.author }}</a></mat-list-item>
            </td>
            <td class="data uk-padding-remove">
              <mat-list-item><a routerLink="/detalle/{{cancion.id}}">{{ cancion.album }}</a></mat-list-item>
            </td>
          </tr>
        </tbody>
      </mat-list>
    </table>
  </div>
</div>
