
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* h3 {
  color: #9c9c9c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
} */

hr {
  border: 2px solid #9c9c9c;
}

.data {
  color: #333333 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.titulo {
  color: #333333 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.mat-list-base{
  color: #333333;
}

.mat-list-item{
  color: #333333;
}

tr .mat-list-item:hover{
  color:red;
}

::ng-deep.mat-form-field-underline {
  background-color: #9c9c9c !important;
}

.placeholder{
  color:#9c9c9c !important;
}
