<div class="container-song uk-flex uk-flex-wrap uk-flex-between">
  <div>
    <h2 class="uk-margin-medium-left">Esta es la música que podrás disfrutar:</h2>
    <input type="search" class="uk-input uk-width-* uk-margin-medium-left" name="filterSong" [(ngModel)]="filterSong"
    placeholder="buscar...">
    <table class="uk-table uk-table-small uk-table-striped uk-width-*  uk-margin-medium-left">
      <thead>
        <th>Título</th>
        <th>Autor</th>
        <th>Álbum</th>
      </thead>
      <tbody>
        <tr *ngFor="let cancion of canciones | filter: filterSong" (click)="showDetail(cancion)">
          <td class="titulo">{{ cancion.title }}</td>
          <td class="data">{{ cancion.author }}</td>
          <td class="data">{{cancion.album}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-cancion-detalle [cancion]="cancionSeleccionada"></app-cancion-detalle>
</div>
